/Backend/Smart ERP/bin
/Backend/Smart ERP/obj
Frontend/smart-erp-frontend/README.md
/Backend/ERP-System/ERP-System/obj
/Backend/ERP-System/ERP-System/bin
/Backend/ERP-System/.vs
/Backend/ERP-System/ERP-System/.vs
Backend/ERP-System/ERP-System/appsettings.json
Backend/ERP-System/ERP-System/appsettings.json
/Backend/ERP-System/ERP-System/Migrations
Backend/ERP-System/ERP-System/ERP-System.csproj
/Backend/ERP-System/ERP-System/Migrations
